<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/sign_in_and_sign_up.css">
</head>
<body>
    <form method="POST" action="/login">
        <h1>Login</h1>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <div class="login_link_store">
            <p">Not a user? <a href="./signup" class="login_link">Sign up</a></p></div>
    </form>
</body>
</html>
