<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/sign_in_and_sign_up.css">
</head>
   
</head>
<body>
    {% if error %}
    <div class="error-toggle">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <h1>Signup</h1>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="Avatar">Avatar</label>
        <input type="file" name="avatar" id="avatar" accept=".jpg, .png">
        <br>
        <button type="submit">Sign Up</button>
        <div class="login_link_store">
        <p">Already a user? <a href="./login" class="login_link">Log in</a></p></div>
    </form>
</body>
</html>
